body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #e0e0e0;
}

/* scene */
.scene {
    width: 275px;
    height: 300px;
    /* space between card-scenes */
    margin: 25px;

    /* set perspective   */
    perspective: 750px;
}

/* card */
.card {
    width: 100%;
    height: 350px;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
  
}

/* face */
.face {
position: absolute;
    height: 100%;
    width: 100%;
  
   /* hide back face   */
    backface-visibility: hidden;
}

/* frontface */
.front {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px 1px rgba(193, 193, 193, 50%); 
}

/* backface */
.back {
  transform: rotateX(-180deg);
  background: white;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 1px rgba(193, 193, 193, 50%);
}

/* flip it? */
.flipped {
/*   transform: scale(1.5); */
  transform: rotateX(-180deg);
}

article {
  transition: .75s;
}

article:hover { 
  transform: scale(1.25);
  
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

h1{
  text-align: center;
  color: #0A5A5C;
  font-size: 32pt;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Alpino-Bold';
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  color: #515151;
  font-size: 14pt;
}

a{
  padding-left: 15px;
  color: #0A5A5C;
  font-size: 12pt;
}

a:hover{
  color:#12A3A5;
}


@media screen and (max-width: 30em) {
  
  body {
    display: flex;
    flex-direction: column;
    height: 2000px;
    padding-top: 40px;
  }
  
  .scene {
    height: 600px;
    width: 75%;
    margin: 5px auto 5px auto;
  }
  
  article:hover { 
  transform: scale(1);
  
}
  
}

